  /* stylelint-disable */


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.btn {
  white-space: nowrap;
  display: inline-block;
  height: 41px;
  line-height: 39px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
}

#typed {
  font-size: 24px;
  margin-bottom: 1.5em;
}

.photography-services {
  margin: 2em 0 2em 0;
  box-shadow: 0 4px 6px rgba(57, 89, 93, 0.11), 0 1px 3px rgba(58, 90, 119, 0.08);
  font-weight: 500;

  li > i {
    margin-right: 1em;
    color: hsla(209, 35, 34, 0.85);
  }
}

.photography-main-icon {
  opacity: 0.85;
}

.archive-title {
  margin-bottom: 2em;
}

.rocket-icon:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 4px, 0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.post-content {
  h2,
  h3,
  h4,
  h5 {
    margin-top: 3em;
    margin-bottom: 1em;
  }

  p {
    // font-size: 1.1em;
    // line-height: 1.8;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: 0.01em;
  }
}

.stripe-top {
  border-top: 6px solid #007bff;
}

.navbar-brand {
  text-transform: uppercase;
}

.nav-item {
  text-transform: uppercase;
}

.img-shadow {
  transition: all 0.15s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.img-shadow:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card-shadow {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.hero-text {
  font-weight: 700;
  text-transform: uppercase;
}

.entry-title {
  text-transform: uppercase;
}

section.testimonials {
  min-height: 420px;

  h3 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

h5.location {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: capitalize;
}

.testimonials-img {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  max-height: 170px;
  align-content: center;
}

.case-study-thumb {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

p.phone-number {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
}

.list-group-flush {
  li > i {
    margin-right: 0.75em;
  }
}

.privacy-policy {
  h2 {
    font-size: 1.25em;
    margin-top: 2em;
  }
}

.contact-hero {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);

  h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.025em;
  }
}

p.contact-phone {
  opacity: 0.95;
  letter-spacing: 0.025em;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
}

.training-card-title {
  font-weight: 700;
}

.hero-subtext {
  font-size: 1.25em;
  font-weight: 500;
}

.card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

p.email {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
}

.hero-banner {
  background-color: #ffd900;

  h1 {
    font-weight: 700;
  }
}

.blue-top-border {
  border-top: 8px solid #007bff;
}

.video-header {
  font-weight: 700;
}

.page-footer {
  padding-top: 4em;
  background-color: hsla(206, 37, 91, 0.98);
}

.social-media-links {
  margin-bottom: 1em;
  margin-top: 1em;
}

.wordpress-training-signup {
  margin-bottom: 5em;
  margin-top: 5em;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-top: 8px solid #007bff;

  .mc-field-group {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .signup-inputs {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.footer-column {
  margin-bottom: 3em;

  h5 {
    font-weight: 700;
    text-transform: capitalize;
  }
}

.footer-list {
  .list-group-item {
    border: none;
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 500;
    opacity: 0.95;
    background: none;
    // text-transform: uppercase;
  }
}

.light-blue-bg {
  background-color: #e1e9f1;
}

.wp-training-desc {
  font-size: 1.25em;
  color: hsla(0, 0%, 95%, 0.9);
  font-weight: 500;
  margin-bottom: 30px;
}

i.fa.fa-wordpress {
  color: hsla(210, 10%, 23%, 0.65);
}

.training-card {
  border-top: 8px solid #007bff;

  .card-body {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .list-group {
    li > i {
      color: #007bff;
    }
  }
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.photography-services > .list-group-item {
  padding: 1rem 1.25rem; 
  transition: all 0.20s ease;
 }

.gradient-bg {
  h1 {
    font-weight: 700;
  }

  color: hsla(0, 0, 100, 0.98);
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

section.web-design {
  background-color: lightgreen;
}

.plugin {
  margin: 4em 0 4em 0;

  img {
    margin-bottom: 1em;
  }

  .free-paid {
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.85;
  }

  p.official-website {
    font-weight: 500;

    i {
      opacity: 0.85;
      margin-right: 0.35em;
    }
  }
}
.wordpress-resources-links {
  font-weight: 700;
  letter-spacing: 0.025em;
}

  /* stylelint-enable */
